# --- LOCAL CONFIGURATION ---
SPREADSHEET_ID=PegaTuIdDeSheetsAqui
# Ruta al JSON local (No subir a GitHub)
GOOGLE_APPLICATION_CREDENTIALS=./google_credentials.json

# --- VERCEL CONFIGURATION (PRODUCCIÓN) ---
# En Vercel, no puedes subir el archivo JSON. 
# En su lugar, crea esta variable y pega el CONTENIDO COMPLETO del archivo google_credentials.json dentro de ella.
# GOOGLE_CREDENTIALS_JSON={ "type": "service_account", "project_id": "...", ... }
